<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fomrs</title>
    <style type="text/css">.error{color:red}</style>
</head>
<body>
    
    <div>
        <h1>Contact</h1>
        <!--whe the client submit the request will be executed on /contact-->
        <form action="/contact" method="POST">

<div>
    <!--display errors mail -->
    <p class="error"></p>
    <p><label >Your mail </label></p>
    <p><input type="email" name="email" value=""></p>
</div>

<div>
    <!--display errors content -->
    <p class="error"></p>
    <p><label >Your Message</label></p>
    <p><textarea name="content"  cols="30" rows="10"></textarea></p>
</div>


<div>
    <input type="submit" value="Send message">
</div>




        </form>
    </div>
</body>
</html>